@font-face {
  font-family: "pxRegular";
  src: url("./Fonts/PxGroteskRegular.woff2");
}

@font-face {
  font-family: "pxBold";
  src: url("./Fonts/PxGrotesk-Bold.woff2");
}

@font-face {
  font-family: "pxLight";
  src: url("./Fonts/PxGrotesk-Light.woff2");
}

@font-face {
  font-family: "pxScreen";
  src: url("./Fonts/PxGrotesk-Screen.woff2");
}

@font-face {
  font-family: "serif";
  src: url("./Fonts/GTSectraDisplay-Regular.woff2");
}

* {
  overflow-y: hidden;
}

body {
  font-family: "pxRegular";
  margin: 0;
}

.main {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  // display: grid;
  // grid-template-columns: 1fr minmax(200px, 30vw);
  // grid-template-rows: 100vh;
}

/* SCROLLVIEW */
.scrollView {
  position: fixed;
  background-color: white;
  width: 70vw;
  height: 100vh;
  overflow: hidden;
}

// @mixin transform($property) {
//   -webkit-transform: $property;
//   -ms-transform: $property;
//   transform: $property;
// }

@for $i from 1 through 6 {
  .scrollView > *:nth-child(#{$i}) {
    //background: hsl($i * 50, 50%, 50%);
    background-color: rgba(255, 255, 255, 1);
    backdrop-filter: blur(10px);
    opacity: 1;
  }
  // .scrollView *:nth-child(#{$i}):hover {
  //   color: hsl($i * 50, 50%, 50%);
  // }
}

.scrollView > * {
  box-shadow: 0px -10px 20px 4px rgba(50, 50, 50, 0.2);
  position: absolute;
  width: 70vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  transform-origin: top;
}

.scrollView > * > div {
  padding: 3%;
}

.scrollView > * > div {
  * {
    margin: 1%;
  }
  h1 {
    font-size: 6vmin;
    font-family: "pxBold";
  }
  p {
    font-size: 3vmin;
  }
  h3 {
    font-size: 4vmin;
    font-family: "pxBold";
  }
  h4 {
    font-family: "pxRegular";
    font-size: 3.5vmin;
    margin-left: 3%;
  }
  h2 {
    font-size: 4vmin;
    font-family: "pxBold";
  }
  ul > p {
    margin-left: 0;
    padding-left: 0;
  }
  li {
    font-size: 3vmin;
  }
  li::before {
    content: "• ";
    font-family: "pxLight";
  }
}

.active {
  width: 70vw;
  height: 100vh;
  transform: translateY(0px);
  overflow-y: scroll;
  scrollbar-width: 10px;
  z-index: 5000;
  transition: 0.5s ease;
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* SIDEBAR */
.sidebar {
  z-index: 0;
  position: fixed;
  display: block;
  height: 100vh;
  margin-left: 70vw;
  width: 30vw;
  background-color: wheat;
}

.sidebar > h1,
.contact > h1 {
  font-size: 5vw;
  font-family: "pxBold";
  position: absolute;
  right: 2vw;
  text-align: right;

  span {
    word-break: break-all;
    font-family: "pxLight";
  }
}

.contactBox {
  position: absolute;
  width: 26vw;
  left: 2vw;
  bottom: 6vh;
  display: grid;
  grid-template-rows: 4;
  grid-template-columns: 4;
  margin: 0;

  a {
    font-size: 2vw;
    color: black;
    text-decoration: none;
    padding: 0;
    margin: 0;
  }
  h1 {
    font-size: 4vw;
    font-family: "pxRegular";

    span {
      font-family: "pxScreen";
    }
  }
  h3 {
    text-align: center;
    vertical-align: middle;
    font-size: 6vmin;
  }

  > * {
    padding: 5%;
    margin: 0;
    border-top: 1px solid black;
    border-left: 1px solid black;
  }

  > *:nth-child(even) {
    border-right: 1px solid black;
  }

  > *:last-child,
  > *:nth-last-child(2) {
    border-bottom: 1px solid black;
  }

  > *:nth-child(1) {
    grid-row: 1;
    grid-column: span 3;
  }

  > *:nth-child(2) {
    grid-row: 1;
    grid-column: span 1;
  }

  > *:nth-child(3),
  > *:nth-child(4) {
    grid-row: 2;
    grid-column: span 2;
  }

  > *:nth-child(5),
  > *:nth-child(6) {
    grid-row: 3;
    grid-column: span 2;
  }
}

/*Mobile*/
@media (max-aspect-ratio: 5/4) {
  .scrollView {
    width: 100vw;
    > * {
      width: 100vw;
    }
  }
  .sidebar {
    display: none;
  }
}
@media (min-aspect-ratio: 5/4) {
  .scrollView {
    > *:last-child {
      display: none;
    }
  }
}
