@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@200;400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap");

body {
  font-family: "Gowun Batang", serif;
  color: #222233;
  margin: 0;
  background-color: #fcf0e5;
}

button {
  font-family: "Gowun Batang", serif;
}

.main {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* SCROLLVIEW */
.scrollView {
  position: fixed;
  width: 70vw;
  height: 100vh;
  overflow: hidden;
}

.scrollView > * {
  box-shadow: 0px -2vh 5vh 2vh rgba(50, 50, 50, 0.2);
  position: absolute;
  width: 66vw;
  min-height: 100vh;
  margin: 0;
  padding: 2vw;
  transform-origin: top left;
  background-color: #fcf0e5;

  ul:last-child {
    padding-bottom: 20vh;
  }
  h1 {
    transition: color 0.2s ease;
  }

  button {
    color: #fcf0e5;
    float: right;
    border: 3px solid #1868b3;
    padding: 11px 16px;
    border-radius: 22px;
    transform-origin: center center;
    background-color: #1868b3;
    transition: border-color 0.2s ease-in-out;
    min-width: 13px;
    font-size: 17px;
    letter-spacing: -0.022em;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
  }

  button:hover {
    border-color: black;
  }
}

.scrollView > * > div {
  //h1 for main title
  //h2 for group title (job/duke)
  //h3 for group subtitle
  h1 {
    font-size: 8vmin;
    margin: 0;
  }
  h2 {
    font-size: 4vmin;
    padding: 0;
    margin-bottom: 0;
  }
  h3 {
    font-weight: bold;
    margin-left: 0vw;
    font-size: 3vmin;
    margin-bottom: 0;
  }
  p {
    font-size: 4vmin;
  }
  ul {
    padding: 0;
    margin-top: 0;
    margin-left: 1vw;
    p {
      margin: 0%;
      padding: 0;
      margin-left: -1vw;
      font-size: 3vmin;
    }
  }
  li {
    line-height: normal;
    margin-left: 1vw;
    padding-top: 0.5vw;
    font-size: 3vmin;
  }
  // li::before {
  //   content: "• ";
  // }
}

.active {
  h1 {
    padding-top: 5vh;
  }
  width: 66vw;
  height: calc(100vh - 4vw);
  margin: 0;
  border: none;
  transform: translateY(0px);
  overflow-y: scroll;
  scrollbar-width: 10px;
  z-index: 5000;
  transition: 0.5s ease;
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

hr {
  border: 0.2vh solid #222233;
}

/* SIDEBAR */
.sidebar {
  z-index: 0;
  position: fixed;
  display: block;
  height: 100vh;
  margin-left: 70vw;
  width: 30vw;
  background-color: #456ba8;
}

.sidebar > h1,
.contact > h1 {
  font-size: 5vw;
  position: absolute;
  right: 2vw;
  text-align: right;
  font-weight: bold;
  color: #fcf0e5;
}

a {
  text-decoration: underline;
  color: black;
}

.contactBox {
  position: absolute;
  width: 26vw;
  left: 2vw;
  bottom: 6vh;
  display: grid;
  grid-template-rows: 3;
  grid-template-columns: 2;
  margin: 0;
  color: #fcf0e5;

  img {
    width: 100%;
  }

  a {
    font-size: 4vmin;
    text-decoration: none;
    margin: 0;
    color: #fcf0e5;
    padding: 10%;
  }
  h1 {
    font-size: 4vw;
  }
  h3 {
    text-align: center;
    font-size: 6vmin;
  }

  > * {
    padding: 5%;
    margin: 0;
    border-top: 2px solid;
    border-left: 2px solid;
  }

  > *:nth-child(even) {
    border-right: 2px solid;
  }

  h4:last-child {
    border-bottom: 2px solid;
    border-right: 2px solid;
  }

  :nth-child(1) {
    grid-row: 1;
    grid-column: span 1;
  }

  :nth-child(2) {
    grid-row: 1;
    grid-column: span 1;
  }

  :nth-child(3),
  :nth-child(4) {
    grid-row: 2;
    grid-column: span 1;
  }

  h4 {
    font-weight: bold;
    grid-row: 3;
    grid-column: span 2;
    font-size: 2vmin;
    text-align: center;
  }

  h4 > a {
    font-size: 2vmin;
    padding: 0;
    text-decoration: underline;
  }
}

.grid {
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 3;
  font-size: 5vmin;
  text-decoration: none;

  a:not(:last-child) {
    text-decoration: none;
    padding: 5%;
    border-top: 1px solid;
    border-left: 1px solid;
  }

  a:nth-child(even) {
    border-right: 1px solid;
  }

  a:nth-last-child(2),
  a:nth-last-child(3) {
    border-bottom: 1px solid;
  }

  :nth-child(1) {
    grid-row: 1;
    grid-column: span 1;
  }

  :nth-child(2) {
    grid-row: 1;
    grid-column: span 1;
  }

  :nth-child(3),
  :nth-child(4) {
    grid-row: 2;
    grid-column: span 1;
  }

  h4:last-child {
    margin-left: 0;
    padding: 2%;
    grid-row: 3;
    grid-column: span 2;
    font-size: 3vmin;
  }
}

/*Mobile*/
@media (max-aspect-ratio: 5/4) {
  .scrollView {
    width: 100vw;
    > * {
      padding: 2vh 4vw;
      width: 92vw;
    }
    button {
      font-size: 2vmin;
      padding: 2%;
    }
  }

  .scrollView > * > div {
    p {
      font-size: 1em;
      padding-bottom: 20vh;
    }
    //h1 for main title
    //h2 for group title (job/duke)
    //h3 for group subtitle
    h1 {
      font-size: 9vmin;
      margin: 0;
      padding-bottom: 8px;
    }
    h2 {
      margin-left: 1vw;
      font-size: 7vmin;
      padding: 0;
      margin-bottom: 0;
    }
    h3 {
      font-weight: normal;
      margin-left: 1.5vw;
      font-size: 6vmin;
      margin-bottom: 0;
    }
    h4 {
      margin-left: 0;
    }

    ul {
      padding: 0;
      margin-top: 0;
      margin-left: 1vw;
      p {
        margin: 0%;
        padding: 0;
        font-size: 5vmin;
      }
    }
    li {
      line-height: normal;
      margin-left: 6vw;
      padding-top: 0.5vw;
      font-size: 5vmin;
    }
    h4 {
      bottom: 10vh;
      padding-left: 10%;
      padding-bottom: 5vh;
    }
  }
  .sidebar {
    display: none;
  }

  .active {
    div {
      padding: 2%;
    }
  }
}

@media (min-aspect-ratio: 5/4) {
  .contact {
    display: none;
  }
}
